// Fonts
$font-helvetica: Helvetica Neue,Helvetica,Arial,sans-serif;
$font-arial: Arial,Helvetica Neue,Helvetica,sans-serif;

// Colori
$color_general: #466CE9;
$color_testogenerale:#5A5A5A;
$color_white:white;
$color_footer:#F6F6F6;
$color_border_thumb:#D8D8D8;
$color_firstlink:#F5A623;

// Media Queries - Varie Risoluzioni
$mobile: 767px;
$tablet: 768px;
$small: 940px;
$large: 1200px;
$standard: 1146px;
